streamlit==1.36.0
gspread==6.0.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
httplib2==0.22.0
pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.2
protobuf==4.25.3
requests==2.31.0
